  body {
    font-family: "Varela Round", "Lato", sans-serif;
  }

  .endScreen {
    padding-top: 20px;
    background-image: url('../../assets/backgroundImg.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .endScreenContent {
    margin-left: 400px;
    width: 500px;
    height: 550px;
    border: chocolate 2px solid;
    border-radius: 20px;
    background-color: white;
  }

  .partisipantEndScreen {
    color: brown;
  }

  .header {
    z-index: 2;
    position: absolute;
    width: 100%;
  }

  .avatar {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-left: 80%;
    z-index: 10;
  }

  .logOutModal {
    margin-top: 10px;
    /* padding: 6px; */
    margin-left: 1080px;
    /* background-color: white; */
    background: black;
    color: rgb(243, 111, 16);
    /* color: grey; */
    position: fixed;
    right: 5%;
    border: 2px solid rgb(243, 111, 16);
  }

  .logOutToastHeader {
    background-color: black;
  }

  .currentUserName {
    color: rgb(243, 111, 16);
  }

  .signOutButton {
    height: 40px;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 10px !important;
    margin: auto;
    border-radius: 5px;
    background-color: black !important;
    color: rgb(243, 111, 16);
    border: 1px solid rgb(243, 111, 16);
    font-weight: 700;
  }



  .signOutButton:hover {
    background-color: rgb(134, 132, 132);
  }

  .picAccount {
    /* margin-left: 100px; */
    /* margin: auto; */
  }