#addContactModalDiv {
  background-color: blueviolet;
}

.addContactsModal .modal-content {
  background-color: black;
  color: rgb(243, 111, 16);
  border: rgb(243, 111, 16) 4px solid;
  /* .my-modal .modal-content {
    background-color: red;
  } */
}

.contactsTable {
  font-size: 13px;
  /* color: rgb(38, 38, 107); */
  color: rgb(243, 111, 16);
  height: 200px;
  font-size: large;
  /*overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin; */
}

.contactsModal {
  color: rgb(243, 111, 16);
}

.contactsScrollDiv {
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

#addContactInput {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: 0;
  font-size: 17px;
  right: 0;
  width: 70%;
  text-align: center;
}

.trContacts {
  height: 15px;
}

.profileImg {
  border-radius: 200px;
}